<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Search" version="6.0.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.Search.Common" version="6.0.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.Search.Data" version="6.0.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.Search.Service" version="6.0.0-preview" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.13" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.15" targetFramework="net452" />
  <package id="Microsoft.Spatial" version="7.5.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
</packages>