<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ClientId" value="PLACEHOLDER-FOR-YOUR-APPLICATION-ID" />
    <add key="Tenant" value="PLACEHOLDER-FOR-YOUR-TENANT-ID" />
    <add key="SearchServiceApiKey" value="PLACEHOLDER-FOR-YOUR-SEARCH-SERVICE-ADMIN-KEY" />
    <add key="SearchServiceEndPoint" value="PLACEHOLDER-FOR-YOUR-SEARCH-SERVICE-URL" />
  </appSettings>
</configuration>