<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azure Search - Autocomplete Tutorial</title>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/tutorial.css" rel="stylesheet" />
    <link href="~/Content/jquery.autocompleteInline.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.autocompleteInline.js"></script>
</head>

<body>
    <div class="exampleTitle">
        Language: <a href="/Home/Index">C#</a> | <a href="/Home/IndexJavaScript">JavaScript</a>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
