<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SearchServiceName" value="Put your search service name here" />
    <add key="SearchServiceAdminApiKey" value="Put your primary or secondary API key here" />
    <add key="SearchServiceQueryApiKey" value="Put your query API key here" />
  </appSettings>
</configuration>