<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Search.Common" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Data" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Service" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.11" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.12" targetFramework="net461" />
  <package id="Microsoft.Spatial" version="7.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.1.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net461" />
</packages>